aws_access_key            = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
aws_secret_key            = "ABCDEFGHIJKLMNOPQRSTTUWXYZ0123456789"
vpc_cidr_block            = "10.0.0.0/16"
public_subnet_cidr_block  = "10.0.8.0/22"
private_subnet_cidr_block = "10.0.12.0/22"
app_availability_zone     = "us-west-2a"
